.reg {
  font-family: "Manrope";
  font-weight: 400;
}

.sered {
  font-family: "Manrope";
  font-weight: 500;
}

.sbold {
  font-family: "Manrope";
  font-weight: 600;
}

.bold {
  font-weight: 700;
}