/*=====================================
            AUTHOR BLOCK STYLE
======================================*/

//form-container
.container-au {
  max-width: 768px;
  margin: 0 auto;
}

.author {
  margin-top: 50px;
}
.author__title {
  margin-bottom: 40px;
}
.author-form {
  padding: 36px;
  border: 1px solid var(--grey);
  color: var(--lightBlack);
}
.author__sub-title {
  margin-bottom: 24px;
}
.author__name {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  span {
    display: block;
    margin-bottom: 8px;
  }
}
.author__name:not(:last-child) {
  margin-bottom: 24px;
}
.author__name-input-l {
  width: 100%;
}
.author__name-input {
  padding: 12px 16px;
}

@media (max-width: 800px) {
  .container-au {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 500px) {
  .author-form {
    border: none;
    padding: 0;
  }
  .container-au {
    padding-left: 22px;
    padding-right: 22px;
  }
  .author__name {
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
