//========================================
//          ALL DECLARE VARIABLE
//========================================
:root {
   // DEFAULT NAME
   --yellow: #fdf074;
   --lightgrey: #f6f6f6;
   --grey: #d1d1d3;
   --hardGrey: #8b8d92;
   --black: #171b24;
   --white:  #E8E9EA;
   --lightBlack: #2f323a;
   // CUSTOM NAME
   --headerTop: #5d6066;

   // ACTION NAME

   // BOX SHADOW

   // TEXT SHADOW
}
